---
import type {
  ArticleEntry,
  HomePageEntryMetaItem,
} from "../../../../bcms/types/ts";
import { bcmsPrivate } from "../../../bcms-private";
import { bcmsPublic } from "../../../bcms-public";
import HomePageArticles from "../../../components/home-page/Articles";
import HomePageHero from "../../../components/home-page/Hero";
import Layout from "../../../layouts/Layout.astro";
import { articleToLight } from "../../../utils/article";
import {
  getCountryCode,
  getEntryMeta,
  getLanguageCode,
  getSupportedCountries,
  getSupportedLanguages,
} from "../../../utils/localization";

export async function getStaticPaths() {
  const countries = getSupportedCountries();
  const languages = getSupportedLanguages();

  const paths = [];
  for (const country of countries) {
    for (const language of languages) {
      paths.push({
        params: { country, language },
      });
    }
  }

  return paths;
}

const profileEntry = await bcmsPrivate.entry.getBySlug("profile", "profile");
const profileMeta = getEntryMeta<ProfileEntryMetaItem>(profileEntry, "en");
const language =
  profileMeta.language.length > 0 ? profileMeta.language[0] : "English";
const country = profileMeta.country.length > 0 ? profileMeta.country[0] : "USA";
const languageCode = getLanguageCode(language);
const countryCode = getCountryCode(country);
const title = profileMeta.title;

const homePageEntry = await bcmsPrivate.entry.getBySlug("home", "home-page");
const homePageMeta = getEntryMeta<HomePageEntryMetaItem>(
  homePageEntry,
  languageCode,
);
const articleEntries = await bcmsPrivate.entry.getAll("article");
const lightArticles = articleEntries.map((e) => {
  return articleToLight(e as ArticleEntry, languageCode);
});

const bcmsConfig = bcmsPublic.getConfig();
---

<Layout title={`${homePageMeta.seo?.title || homePageMeta.title} - ${title}`}>
  <div>
    <HomePageHero
      headline={homePageMeta.headline}
      description={homePageMeta.description}
      browseHeroButton={homePageMeta.browse_hero_button}
      coverImage={homePageMeta.cover_image}
      articles={lightArticles}
      bcmsConfig={bcmsConfig}
      country={countryCode}
      language={languageCode}
      client:load
    />
    <HomePageArticles
      bcmsConfig={bcmsConfig}
      title={homePageMeta.articles_title}
      articles={homePageMeta.articles}
      browseArticlesButton={homePageMeta.browse_articles_button}
      country={countryCode}
      language={languageCode}
    />
  </div>
</Layout>
